*{
    margin: 0;
    padding: 0;
}
body{ 
    background: linear-gradient(#153E7E,#C11B17) ;
height: 100vh;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}
.y{
    background-image: url(  'stars1.png' );
    height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;

}
.x{  
    text-align: center;
}
.x li {

list-style: none;
margin: 14px 0;

}
.x li a{ 
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    background: darkblue;
    padding: 6px 10px ;
    border-radius: 20px ;
    display: inline-block;
    width: 120px;
    transition: .5s;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.x:hover li a{
opacity: 0;


}
.x li a:hover{
    transform: scale(1.5);
   background-color: #7401e0;

opacity: 1;
}
.x li::after {
    content: attr(data-text);
    color:white ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size:80px ;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 50px;
    transition: 1s;

}
.x li:hover::after {opacity: 0.5; 

    letter-spacing: 5px;


}
.x li::before{

    content: "";
background: white;
  width: 180px;
  height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,70%);
 border-radius: 50%;
   box-shadow: 0 0 80px orangered;
   opacity: 0;
   transition: .5s;
}

.x li:hover:before{
width: 80px;
opacity: 0.5;}

